@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@font-face {
  font-family: arabic;
  src: url(./fonts/arabic/ntaqat.ttf);
}
@font-face {
  font-family: koufi;
  src: url(./fonts/arabic/DroidKufi-Regular.ttf);
}
@font-face {
  font-family: koufi-bold;
  src: url(./fonts/arabic/DroidKufi-Bold.ttf);
}
@font-face {
  font-family: vip-bold;
  src: url(./fonts/arabic/ArbFONTS-Ubuntu-Arabic_B.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  z-index: 100;

}

.logo{
  width: 5%;
}
.logo > img{
  object-fit: cover;
}
.navlinks{
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  z-index: 1;
}
.navlinks > li{
  cursor: pointer;
  position: relative;

}
.navlinks  li  a , .inscription > a {
  text-decoration: none;
  font-size: 14pt;
  font-family: vip-bold, sans-serif;
  color: #1b1919;
  
}

.actived{
  border-bottom: 3px solid #ffffff;
}


.navlinks > li:not(.actived)::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 10%;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background-color: #fbfbfb;
 transition:all 0.3s ease-in;
}
.navlinks > li:not(.active):hover::before{
  width: 100%;
}

.inscription > .now{
  background-color: #f9a91e;
  color: rgb(36, 36, 36);
  padding: 10px 40px;
  cursor: pointer;
  font-family: vip-bold, sans-serif;

}
.inscription > .ctn{
  padding: 0 30px;
  color: #1f1f1f;
  font-family: vip-bold, sans-serif;
}
.inscription:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.burger{
  cursor: pointer;
  display: none;
  z-index: 2;
}
.burger > div{
  width: 35px;
  height: 6px;
  background-color: #f6f6f5;
  margin: 3px;
  border-radius: 10px;
  
}

/* inscription form start */
.inscrTop{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscr{
  width: 80%; 
  z-index: 50;
  background-color: #f9a91e;
  display: none;
  border-radius: 10px;
  
  
}
.close{
  position: absolute;
  right: 4%;
  top: 0%;
  cursor: pointer;
  color: rgb(248, 245, 245);
 
}

.inscr .container{
  width: 30%;
  margin-top: 10%;
  padding-bottom: 20px;
}
.inscr .container .form label{
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
}




/* media screen start */

@media screen and (max-width:768px){
  .inscription > .ctn{
   display: none;
  }
  .logo{
    width: 15%;
    

  }
  .close{
      position: absolute;
      right: 4%;
      top: 5%;
      cursor: pointer;
      color: rgb(2, 2, 2);
     
  }
  

  .inscription > span{
    background-color: #f9a91e;
    color: rgb(41, 40, 40);
    padding: 5px 10px;
    cursor: pointer;
    font-family: vip-bold, sans-serif;
  }

  .navlinks{
      position: absolute;
      top:0;
      left: 0;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #f9a91e;
      height: 100vh;
      width: 100%;
      clip-path: circle(100px at 90% -20%);
      -webkit-clip-path:circle(100px at 90% -20%);
      transition: all 1s ease-out;
      
  }
  .navlinks li{
      opacity: 0 !important;
  }
  .navlinks li:nth-child(1){
      transition: all 0.5s ease 0.2s !important;
     
  }
  .navlinks li:nth-child(2){
      transition: all 0.5s ease 0.3s !important;
  }
  .navlinks li:nth-child(3){
      transition: all 0.5s ease 0.4s !important;
      
  }
  .navlinks li:nth-child(4){
      transition: all 0.5s ease 0.5s !important;
  }
  li.fade{
      opacity: 1 !important;
  }
  .navlinks li a{
      color: beige;
  }
  .burger{
      display: block;
  }
  .navlinks.open{
      clip-path: circle(1100px at 90% -20%);
      -webkit-clip-path:circle(1100px at 90% -20%);
  }
  .line.changeColor{
      background-color: rgb(250, 248, 245);
  }

  /* caption */
  .caption .container .row{
    padding-top: 10px !important;
  }
 

}

header{
  width: 100%;
  background-image: url(./images/slider-image-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:inherit;
  background-attachment:fixed;
}
/* end media screen */
.caption{
font-family: vip-bold, sans-serif;
color: rgb(31, 31, 31);
cursor: e-resize;
font-weight: bolder;

}
.caption h1{
  padding: 30px 0;
  font-family: koufi-bold;
}
.caption h2{
  color: #f9a91e;
  font-family: koufi;

}
.caption .container .row{
  padding-top: 90px;
}
.caption a{
  background-color: #f9a91e;
    color: #2a2a2a;
    padding: 10px 40px;
    cursor: pointer;
    font-family: vip-bold, sans-serif;
}
.caption a:hover{
  background-color: #383838;
  color: #faf9f6;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

/* about section  */

#about {
  margin-top: 100px;
  padding-bottom: 0;
}
.about-info h4,p{
  font-family: koufi;
}
.about-info h2{
  font-family: koufi-bold;
}



/* menu section */
.menu-section{
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1f1b6;
}
.menu-section .section-title{
  padding:100px 0 30px 0;
  font-family: koufi-bold;
}
.section-title h1{
  color: #f9a91e;
}
.menu-section img{
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  margin-top: 50px;

}

.plat-info{
  width: 100%;
  direction: rtl;
  cursor: pointer;
  color: #0f0f0f;
  font-family: vip-bold;
  text-align: center;
}
.plat-info span{
display: block;
margin-bottom: 30px;
}
.plat-info a{
  background-color: #f9a91e;
  color: #0f0f0f;
  padding: 10px 20px;
  text-decoration: none;
}
.back{
  width: 30%;
  height: 100%;
 
}

/* testmonials */
/* Slideshow container */

.slideshow-container .section-title{
  padding-bottom:10px;
  font-family: koufi-bold;
}
.section-title h1{
  padding: 20px 0px;
  color: #f9a91e;
}
.slideshow-container {
  padding-top: 100px;
  position: relative;
  width: 60%;
  margin: auto;
 
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
.mySlides img{
   border-radius: 50%;
   display: block;
   margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  margin-top: -30px;
  padding: 10px;
  color: #f9a91e;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgb(26, 26, 26);
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
 
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f9a91e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #242424;
}

/* Add an italic font style to all quotes */
q {
  padding-top: 50px;
  font-style: italic;
  font-weight: bold;
}

/* Add a blue color to the author */
.author {
  font-size: 15pt;
  color: 
  #cf8504;
}

/* footer */
.top{
  margin-top:100px ;
  padding: 30px;
  background-color: #f6f6f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;

}
footer p{
  color: #cf8504;
  font-family: koufi-bold;
}
footer .icons{
  font-size: 10pt;
  
  
}
footer .icons a{
  color: #f6f6f5;
  padding: 5px;
  background-color: #f09a06;
  border-radius: 10px;
}
.bottom{
  padding: 10px;
  background-color: #f09a06;
  color: white;
}
.bottom a{
  color: #0f0f0f;
  text-decoration: none;
  font-family: 'Montserrat';
}